body {
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 24px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0px 0px 0px 100px;
}

.nav-bar {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.nav-bar a{
    text-decoration: none;
    color: #E5E7Eb;
    font-size: 18px;
    padding: 18px;
    font-family: 'Roboto', arial;
}

.content {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    /* gap: 30px; */
    flex-wrap: wrap;
    color: #F9FAF8;
    align-items: center;
    padding: 90px;
}

.left-content {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.left-content p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

.left-content button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.left-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-weight: 600;
    padding: 30px;
}

a {
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-info {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.sub-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 150px;
    text-align: center;
}


.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7Eb;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}
.quote b {
    padding: 0 10px 20px 0;
    font-family: 'Roboto', arial;
    text-align: right;
}

img {
    border-radius: 25px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
}

.SignUp {
    display: flex;
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    align-items: center;
    border-radius: 5px;
    border-color: none;
    justify-content: center;
}

.left-signup {
    flex: 1;
    text-align: left;
}

.left-signup p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.left-signup h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.right-signup {
    flex: 1;
}

.right-signup button {
    color: #fff;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 15px;
    padding: 5px 25px;
}